.app {
  height: 100vh;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav-link {
  margin: 0 5px;
  text-decoration: none;
  color: white;
}

.page-title {
  text-align: center;
  color: white;
}

.form {
  width: 50%;
  background-color: white;
  margin: 0 auto;
  padding: 30px;
}